<div class="card" id="error">
    <div class="card-block">
        <div class="alert alert-danger" role="alert">
            <dl class="row">
                <dt class="col-sm-3">Error:</dt>
                <dd class="col-sm-9">{{error?.title}}</dd>

                <dt class="col-sm-3">Error Message:</dt>
                <dd class="col-sm-9">{{error?.msg}}</dd>

                <dt class="col-sm-3">Error Description:</dt>
                <dd class="col-sm-9">{{error?.description}}</dd>
            </dl>

        </div>
    </div>
    <div class="card-footer text-muted text-lg-right">
        <button type="submit" class="btn btn-secondary" (click)="location.back()">Back</button>
    </div>
</div>