<div class="card" id="regions">
    <div class="card-block">
        <table class="table table-hover">
            <thead class="thead">
            <tr>
                <th>Region</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Radius</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let r of regions" (click)="doEdit(r)">
                <td>{{r.name}}</td>
                <td>{{r.zone?.center?.latitude}}</td>
                <td>{{r.zone?.center?.longitude}}</td>
                <td>{{r.zone?.radius}}</td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer text-muted">
            <button type="button" class="btn btn-primary" (click)="doAdd()">Add</button>
        </div>
    </div>
</div>

<!-- Modal -->
<modal #regionModal (onDismiss)="onDismiss($event)">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Region Form</h4>
    </modal-header>
    <modal-body>
        <form>
            <div class="form-group row">
                <label for="regionName" class="col-sm-2 form-control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="regionName" placeholder="Region Name" [(ngModel)]="region.name" name="regionName">
                </div>
            </div>


            <div class="form-group row">
                <label for="regionDescription" class="col-sm-2 form-control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="regionDescription" rows="3"
                              placeholder="Region Description" [(ngModel)]="region.description" name="regionDescription"></textarea>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Location</label>
                <div class="col-xs-2">
                    <input type="number" class="form-control" placeholder="Latitude" [(ngModel)]="region.zone.center.latitude" name="regionZoneLatitude">
                </div>
                <div class="col-xs-2">
                    <input type="number" class="form-control" placeholder="Longitude" [(ngModel)]="region.zone.center.longitude" name="regionZoneLongitude">
                </div>
                <div class="col-xs-2">
                    <input type="number" class="form-control" placeholder="Radius" [(ngModel)]="region.zone.radius" name="regionZoneRadius">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="doSave()">Save</button>
        <button *ngIf="!isAddNewOpt" type="button" class="btn btn-danger" (click)="doDelete()">Delete</button>
    </modal-footer>
</modal>

