<div class="card" id="dashboard_regions">
    <div class="card-header">
        Top Regions
    </div>
    <div class="card-block">
        <table class="table table-hover">
            <thead class="thead">
            <tr>
                <th>region</th>
                <th>data</th>
                <th>promotions</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let r of regions">
                <td>{{r.id}}</td>
                <td collapsible [collapsedByDefault]="true">
                    <pre>{{r | json}}</pre>
                </td>
                <td>
                    <a (click)="selectRegion(r)"><span
                            class="label label-default">{{r.promotions.length}}</span></a><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="selectedRegion" class="card" id="dashboard_promotions">
    <div class="card-header">
        Promotions
    </div>
    <div class="card-block" *ngFor="let p of selectedPromotions">
        <pre class="card-text">{{p | json}}</pre>
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary-outline btn-sm" (click)="close()">Close</button>
    </div>
</div>

